.container {
    max-width: 700px;
    margin: 50px auto;
}

.container h2 {
    margin: 0;
}

.container h3{
    margin-top: 0;
}

.links {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.links li {
    list-style: none;
    font-size: 25px;
}